DB_NAME=CandidatAndEval
DB_USER=postgres
DB_PASSWORD=replace-with-your-database-password

JWT_SECRET=replace-with-your-jwt-secret

MAIL_USERNAME=replace-with-your-mail-username
MAIL_PASSWORD=replace-with-your-mail-app-password

GOOGLE_CLIENT_ID=replace-with-your-google-client-id

CORS_ALLOWED_ORIGIN=http://localhost:4200
FRONTEND_PORT=4200
